.myUniqueCarousel .container {
  width:100%;
  position: relative;
  overflow:hidden;
  object-fit: cover;
}

.myUniqueCarousel .image-element {
  position: relative;
  overflow:auto;
  width: 100%;
  height: 100vh;
  z-index: 0;
}


.myUniqueCarousel .top-banner {
  position: relative;
  overflow:auto;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.myUniqueCarousel .customCarouselContainer-header { 
  height: 100vh;
  width:100vw;
  z-index: 1;
  overflow:hidden;

 }

 .myUniqueCarousel  .carousel-container {
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  display: flex;
  align-items: center;
  align-content: center;
}

.myUniqueCarousel .react-multi-carousel-item {
  transition: transform 0.8s ease, opacity 0.8s ease; /* Smooth transition for both transform and opacity */
  z-index: 1; /* Corrected redundant z-index property */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.myUniqueCarousel .react-multi-carousel-item img {
  width: 100%;
  height: auto;
  position: relative;
}


.myUniqueCarousel .image-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}

.myUniqueCarousel .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

.myUniqueCarousel .grad {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent 50%, transparent 50%, rgba(0,0,0,0.8));
}

.myUniqueCarousel .react-multi-carousel-item--active {
  transform: scale(1.1); /* Zoom in effect for active item */
  opacity: 1; /* Make active item fully visible */
}

.myUniqueCarousel .react-multi-carousel-item:not(.react-multi-carousel-item--active) {
  opacity: 0.5; /* Reduce opacity for inactive items */
}

.myUniqueCarousel .react-multi-carousel-dot {
  display: none;
}

/* Custom pagination indicator container */
.myUniqueCarousel .custom-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%; /* Move the container to the horizontal center */
  transform: translateX(-50%); /* Center the container */
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom pagination indicator line */
.myUniqueCarousel .custom-pagination-line {
  width: 100%; /* Adjust line width as needed */
  height: 4px; /* Adjust line height as needed */
  background-color: #ccc; /* Adjust line color as needed */
  margin: 0 5px; /* Adjust spacing between lines as needed */
  cursor: pointer; /* Add cursor pointer for interactive feel */
}

/* Active state for custom pagination indicator line */
.myUniqueCarousel .custom-pagination-line.active {
  background-color: #333; /* Adjust active line color as needed */
}

.myUniqueCarousel .game-title-container {
  position: absolute;
  top: 75%; /* Adjust as needed */
  left: 18%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the title */
  z-index: 1;
  height: 30vh;
  width: 22vw;
  backdrop-filter: blur(20px); /* Add blur effect */
  opacity: 0.8; /* Adjust opacity as needed */
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  align-items:center;
  padding: 2%;
}


#game-name-header{
  color: white;
  margin-bottom: 2%;
}

#signup{
  position: absolute;
  top: 67%; /* Adjust as needed */
  left: 18%;
  border-radius: 5px;
  border-style: none;
  font-weight:700;
  font-size:large;
  margin-top:10%;
  transform: translate(-50%, -50%); /* Center the title */
  z-index:5;
  border-style:solid ;
  border-width: 1px;
  border-color: #05828e;
  z-index: 1;
  height: 6%;
  width: 18vw;
}


.myUniqueCarousel .video-container {
  display: flex; /* Use flexbox to center the video */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Hide the overflow outside the container */
}



.myUniqueCarousel .video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Adjust the video to fit within the container */
  display: block;
}





.myUniqueCarousel .controls {
  position: absolute;
  top: 90%; /* Adjust as needed */
  left: 72%;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  transform: translate(50%, -50%); /* Center the title */

}

.myUniqueCarousel .control-button {
  font-size:x-large;
  color: white;
  margin-right: 1vw;
  opacity: 0.7;
}

#game-description-header {
  color:white;
}