*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(
    45deg,
    #e7eaef,
    #9ba8b8
  );
}

body, #root {
  height: 100%;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  z-index: 0;
  background: #393E46;
	
}


p {
  color:white;
}

h1 {
  color:white;
}

h2 {
  color:white;
}

h3 {
  color:white;
}

h4 {
  color:white;
}